.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background: rgb(54, 217, 182);
  background: linear-gradient(
    90deg,
    rgb(48, 81, 141) 0%,
    rgba(32, 152, 126, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
p,
span,
strike {
  font-family: "Montserrat", sans-serif;
}

#task-container {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgb(212, 212, 212);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
}

#bpad {
  margin: 0 auto;
  margin-top: 100px;
}

#form-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

#submit {
  background-color: #36d9b6;
  border-radius: 0;
  border: 0;
  color: #fff;
}

.flex-wrapper {
  display: flex;
}

.task-wrapper {
  background: rgb(219, 219, 219);
  cursor: pointer;
  border: 1px solid #b0b0b191;
  border-radius: 5px;
  color: #686868;
  margin: 5px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.task-wrapper:hover {
  background-color: #f0f0f0;
}
